<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="./../assets/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h2>{{subTitle}}</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit voluptatum voluptate nulla vitae aperiam dignissimos quidem tenetur hic modi deleniti, veniam maxime provident assumenda! Cumque, quis eveniet. Aut, nihil. Libero.</p>
    <p style="color:  red">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit voluptatum voluptate nulla vitae aperiam dignissimos quidem tenetur hic modi deleniti, veniam maxime provident assumenda! Cumque, quis eveniet. Aut, nihil. Libero.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit voluptatum voluptate nulla vitae aperiam dignissimos quidem tenetur hic modi deleniti, veniam maxime provident assumenda! Cumque, quis eveniet. Aut, nihil. Libero.</p>
    <p style="background-color: blue;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit voluptatum voluptate nulla vitae aperiam dignissimos quidem tenetur hic modi deleniti, veniam maxime provident assumenda! Cumque, quis eveniet. Aut, nihil. Libero.</p>
    <input type="text" id="example">
    <button id="action">Klik</button>
    <p id="text"></p>

<script src="./../js/func.js"></script>
</body>
</html>